@import url(./modern-normalize.css);

:root {
    --bg-primary: #fbf9f1;
    --bg-secondary: #E3E1D9;
    --bg-accent: #AAB396;
    --bg-accent-2: #789395;
    --bg-accent-2-hovered: #668082;
    --bg-accent-3: #DDDDDD;
    --bg-card: #F7EED3;
    --txt-primary: #674636;
    --color-warning: rgb(171, 44, 44);
    --header-height: 6rem;
    --card-min-height: 15rem;
    --card-min-width: 20rem;
    --card-title-min-height: 5rem;
    --card-status-height: 2rem;
    --progress-height: 0.6rem;
    --input-height: 2rem;
    --sidebar-width: 22rem;
    --shadow-color: rgb(0 0 0 / 0.2);
    --shadow-color-2: rgb(0 0 0 / 0.4);
    --padding-small: 0.25rem;
    --padding-normal: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 2rem;
    --margin-small: 0.25rem; 
    --margin-normal: 0.5rem; 
    --margin-medium: 1rem; 
    --margin-large: 2rem; 
    --b-radius-small: 0.25rem;
    --b-radius-normal: 0.5rem;
    --b-radius-medium: 1rem;
    --b-radius-large: 2rem;
    --b-radius-xlarge: 4rem;
    --gap-small: 0.25rem;
    --gap-normal: 0.5rem;
    --gap-medium: 1rem;
    --gap-large: 2rem;
    --trans-t-small: 0.15s;
    --trans-t-normal: 0.3s;
    --trans-t-medium: 0.6s;
    --icon-height: 1.5rem;
}

body {
    position: relative;
    overflow-x: hidden;
    min-height: 100svh;
    font-family: 'outfit', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary);
    color: var(--txt-primary);
}

h1 {
    margin-block: 0.4rem;
}

h2 {
    margin-block: 0.2rem;
    font-size: 1.4rem;
    line-height: 1.25;
}

h3 {
    margin-block: 0.2rem;
    line-height: 1.25;
}

h4 {
    margin-block: 0.1rem;
    font-weight: 700;
}

h5 {
    margin-block: 0.1rem 0.3rem;
    font-size: 0.9rem;
    font-weight: 700;
}

h6 {
    margin-block: 0.2rem;
    font-size: 0.8rem;
    font-weight: 600;
}

p {
    margin-block: 0.3rem;
    font-weight: 500;
    filter: opacity(0.8);
}

input[type='range'] {
    accent-color: var(--bg-primary);
    width: 100%;
}

input[type='range']::-webkit-slider-thumb {
    cursor: pointer;
}

header {
    z-index: 3;
    position: fixed;
    padding-block: var(--paddinglarge);
    padding-inline: calc(var(--padding-large) * 2) var(--padding-large);
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-accent);
    box-shadow: 0 0.2rem 0.2rem var(--shadow-color);
}

.book-toggle-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: grid;
    justify-items: center;
    padding: var(--padding-normal);
    border-radius: var(--b-radius-normal);
    aspect-ratio: 1 / 1;
    transition: all var(--trans-t-normal) ease;
}

.book-toggle-container:hover {
    backdrop-filter: brightness(130%); 
}

.book-toggle-icon {
    position: relative;
    top: 0;
    width: var(--input-height);
    height: var(--input-height);
    fill: var(--txt-primary);
    transition: all var(--trans-t-normal) ease;
}

.book-toggle-heading {
    transition: all var(--trans-t-normal) ease;
}


body:has(#book-toggle:checked) .book-toggle-container {
    scale: 0.5;
}

body:has(#book-toggle:checked) .book-toggle-icon {
    top: 50%;
    scale: 2;
    translate: 0 -10%;
    rotate: 45deg;
}

body:has(#book-toggle:checked) .book-toggle-heading {
    opacity: 0;
}

.main-container {
    position: relative;
    min-height: calc(100svh - var(--header-height));
    top: calc(var(--header-height));
    display: grid;
    grid-template-columns: 3fr auto;
}

.books-display {
    padding: var(--padding-large);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-min-width), auto));
    grid-auto-rows: auto;
    justify-content: center;
    gap: var(--gap-medium) var(--gap-large);
    transition: all var(--trans-t-normal) ease;
}

.main-container:has(#book-toggle:checked) .books-display {
    padding-right: var(--padding-large);
}

.card-wrapper {
    max-width: 30rem;
}

.card {   
    position: relative;
    border-radius: var(--b-radius-medium);
    padding: var(--padding-medium);
    min-height: var(--card-min-height);
    min-width: fit-content;
    display: grid;
    grid-template-columns: 3fr minmax(9rem , 4fr);
    gap: var(--gap-normal);
    background: var(--bg-accent);
    box-shadow: 0.1rem 0.1rem  0.2rem var(--shadow-color-2);; 
    transition: all var(--trans-t-normal) ease;
}

.card p {
    font-size: 0.9rem;
}

.card-page-change-button, .card-button {
    border: none;
    height: min-content;
    display: flex;
    align-items: center;
    background: transparent;
}

.card-button {
    padding: 0;
}

.card-page-change-button {
    fill: var(--txt-primary);
    height: 2rem;
    width: 2rem;
}

.card-change-status {
display: none;
appearance: none;
}

.card-change-status-wrapper {
    position: relative; 
    height: var(--card-status-height);
    display: flex;
    justify-content: end;
    align-items: center;
}
            
.card-status-options {
    position: absolute;
    top: 0;
    overflow: hidden;
    margin-block: 0;
    border-radius: var(--b-radius-normal);
    padding: 0;
    width: 100%;
    display: grid;
    grid-auto-rows: var(--card-status-height);
    background: var(--bg-accent);
    list-style-type: none;
}

.card-status-option:is(.active) {
    grid-row: 1;
}

.card-change-status-wrapper:has(.card-change-status:checked) .card-status-options {
    box-shadow: 0.1rem 0.1rem 0.3rem grey;
}

.card-change-status-wrapper:not(:has(.card-change-status:checked)) .card-status-option:not(.active) {
    display: none;
}
    
.card-status-option{
        border: none;
        padding: 0 var(--padding-small);
        text-align: center;
        color: inherit;
        background: transparent;
        backdrop-filter: brightness(120%);
        transition: all var(--trans-t-small) ease;
}    

.card-status-option:hover {
    backdrop-filter: brightness(80%);
} 

.more-icon {
    z-index: 1;
    fill: var(--txt-primary);
    height: var(--icon-height);
}


.delete-icon {
    fill: var(--color-warning);
    height: var(--icon-height);    
    width: var(--icon-height);
}

.card-description {
    display: flex;
    flex-flow: column nowrap;
    grid-column: 2;
}

.card-status-wrapper {
    margin-bottom: var(--margin-normal);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: var(--gap-small);
}

.reading {
    color: var(--txt-reading);
}

.read {
    color: var(--txt-read);
}

.not-read {
    color: var(--txt-not-read);
}

.card-reading {
    margin-top: var(--margin-small);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: var(--gap-normal);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all var(--trans-t-normal) ease-in-out;
}

.card:hover .card-reading {
    opacity: 1;
}

.card-reading-progress {
    border: none;
    height: var(--progress-height);
}

.card-reading-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-reading-page {
    display: inline;
    text-align: center;
    opacity: 0.7;
    font-weight: 700;
    min-width: max-content;
}

.card-image {
    border-radius: var(--b-radius-medium);
    width: 100%;
    align-self: center;
    justify-self: center;    
    grid-column: 1;
}

.card-title {
    margin-top: auto;
}

.card-page-date-group {
    margin-bottom: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    gap: var(--gap-normal) var(--gap-medium);
}

.sidebar {
    z-index: 2;
    position: relative;
    min-height: calc(100svh - var(--header-height));
    height: 100%;
    width: 0;
    border-left: 1px solid var(--bg-accent);
    transition: all var(--trans-t-medium) ease-in-out;   
}

.form-wrapper {
    width: 0;
    height: 0;
    right: 0;
    transition: all var(--trans-t-medium) ease-in-out;
}

.sidebar:has(#book-toggle:checked) .form-wrapper {
    position: fixed;
    overflow: auto;
    height: calc(100svh - var(--header-height));
    width: var(--sidebar-width);
    padding-block: var(--padding-large);
    padding-inline: calc(var(--padding-large) * 1.5);
}

.sidebar form{
    opacity: 0;
    display: none;
}

.sidebar:has(#book-toggle:checked) {
    left: 0;
    width: var(--sidebar-width);
}

.sidebar:has(#book-toggle:checked) form {
    display: grid;
    opacity: 1;
}

#book-toggle {
    display: none;
    appearance: none;
}

.sidebar-heading {
    text-wrap: nowrap;
}

form {
    margin-top: var(--input-height);
    transition: all var(--trans-t-medium) ease;
}

form label {
    height: var(--input-height);
    position: relative;
}

form label, form button {
    margin-top: var(--input-height);
}

.required {
    color: var(--color-warning);
}

form label input {
    border: none;
    height: 100%;
    padding-left: var(--padding-normal);
    background-color: var(--bg-primary);
    filter: brightness(80%);
    border-radius: var(--b-radius-small);
}

form label input:not([name="status"]) {
    width: 100%;
}

form  label .label{
    position: absolute;
    z-index: 1;
    top: calc((var(--input-height) - 1rem) / 2);
    left: var(--margin-small);
    transition: all var(--trans-t-medium) ease-in-out;
}

form label:is([for='publish-date']) .label {
    top: calc(-1 * var(--input-height) + 1.5rem / 2);
    left: 0;
}

form label:not([for='publish-date'], :has(label input)):focus-within .label, form label:not([for='publish-date'], :has(input:placeholder-shown), label input) .label  {
    top: calc(-1 * var(--input-height) + 1.5rem / 2);
    left: 0;
    transition: all var(--trans-t-normal) ease-in-out;
}

form label:not(:has(input:placeholder-shown), :focus-within) .label {
    opacity: 0.7;
}

form label[for='publish-date'] {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap-small);  
}

form label[for='publish-date'] input {
    line-height: 2;
}

form label:has(label .label) {
    margin-top: calc(var(--input-height) + var(--margin-normal));
}

form label:has(label .label) .label {
    top: calc(-1 * var(--input-height) + var(--margin-normal));
}

form label:has(label) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-medium);
}

form label label:has(input) {
    margin-top: 0;
    display: flex;
    flex-flow: column nowrap;
}

form label label .label {
    position: static;
}

form label:has(#current-page) {
    display: none;
}

form label:has(#reading:checked) ~ label:has(#current-page) {
    display: flex;
}


form button {
    height: var(--input-height);
    border: none;
    border-radius: var(--b-radius-normal);
    color: var(--txt-primary);
    font-weight: 600;
    background-color: var(--bg-accent);
    box-shadow: 0.1rem 0.1rem 0.2rem var(--shadow-color-2);
    transition: all var(--trans-t-small) ease;
}

form button:hover {
    filter: brightness(105%);
    box-shadow: 0.1rem 0.1rem 0.4rem var(--shadow-color-2);
}

form button:active {
    filter: none;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--shadow-color-2);
}